**/resources/credentials/
**/githubprivate\.properties

**/bin/
**/target/
**/src-gen/
**/py-gen/

**/\.idea/
**/docker/data/
**/cloned-repos/
**/okhttp_cache/

**/*\.rar


**/activemq-data

*.pyc

**/.project
**/.classpath
**/.settings